<% content_for :title do %>
  <p class="flash-Bigtitle"><em>Edit user details</em></p>
<% end %>
<div class='contentIndent'>
  <%= render :partial => 'form' %>

  <%= link_to 'Show', @user %> |
  <%= link_to 'Back', users_path %>
</div>
