<div style='padding:10px'>
  <h2 class="line">Password Reset</h2>
  <p>
    If you have forgotten your password for your account, please enter the email address you used to register in the
    form below and we will mail you a new password for your account.
  </p>
  <% form_tag reset_password_path do %>
    <table class="register">
      <tr>
        <td class="label">Email</td>
        <td><%= text_field_tag "email" %></td>
      </tr>
      <tr>
        <td><%= submit_tag 'Email me a new password' %></td>
      </tr>
    </table>
  <% end %>
</div>
