<div class="contentIndent">
    <h1>Upload a Document</h1>
    <p>Upload any type of document that relates to the ICCA, such as such as management plans, community agreements and documented awards</p>

    <%= render :partial => 'form' %>

    <%= link_to 'Back', forms_path %>
</div>

