Hello <%= @contributor.username %>

<p>A password reset request has been generated for the ICCA Registry (iccaregistry.org). Your password has been reset to:</p>
<p><b><%= @new_password %></b></p>
<p>Please login with this new password and your username (<%= @contributor.username %>) to change your password to
to something more memorable:<br/>
<%= link_to "http://iccaregistry.org/login","http://iccaregistry.org/login" %></p>
<br/>
Many Thanks<br/>
The ICCA Team
