<div class="new">

  <div style="border:1px solid #ddd; border-width: 1px 0; background:#eee;">
    <h2 class="newsColumn flash-h2"><%= t 'home.featured_publications' %></h2>
    <div style="padding:5px 5px 5px 15px;">
      <div style="float:right;width:250px;padding-top:10px;">
        <h5 style="margin-bottom:5px;"><a href="/docs/ICCA%20Handbook%201.2%20English.pdf">A handbook for the Indigenous and Community Conserved Areas Registry</a></h5> 
        <div style="color:#666;">language: 
          <a class="textLinkRight" href="http://www.unep-wcmc.org/protected_areas/docs/ICCA%20Handbook%201.2%20English.pdf">English</a>
        </div>
      </div>
      <a href="http://www.unep-wcmc.org/protected_areas/docs/ICCA%20Handbook%201.2%20English.pdf">
        <%= image_tag "ICCA_handbook_cover_1.2.png", :width => "50px", :class => "polaroid" %>
      </a>
    </div>		

    <hr style="background:white;margin:0 80px;width:200px;">
    <div style="padding:10px 5px 5px 15px;">
      <div style="float:right;width:250px;padding-top:0px;">
        <h5 style="margin-bottom:5px;"><a href="/docs/ICCA%20Handbook%201.2%20Spanish.pdf">Manual para el Registro de Áreas Conservadas por Comunidades Indígenas y Locales</a></h5> 
        <div style="color:#666;">language: 					
          <a class="textLinkRight" href="http://www.unep-wcmc.org/protected_areas/docs/ICCA%20Handbook%201.2%20Spanish.pdf">Spanish</a>
        </div>
      </div>
      <a href="http://www.unep-wcmc.org/protected_areas/docs/ICCA%20Handbook%201.2%20Spanish.pdf">
        <%= image_tag "ICCA-handbook-cover-1.2-Spanish.png", :width => "50px", :class => "polaroid" %>
      </a>
    </div>
  </div>


</div>
