<div class="span-24 column widgetContainer">
  <div class="widgetHome">
    <div id="slide-holder">
      <div id="slide-runner">
        <% i = 1
           @images.each do |photo|%>
                <%= link_to "<img id=\"slide-img-#{i}\" src=\"#{ photo.image.url :banner }\" class=\"slide\" alt=\"\" /></a>", photo.photoable %>
        <%      i += 1
            end %>
        <div id="slide-controls">
          <p id="slide-client" class="text"><strong></strong><span></span></p>
          <p id="slide-nav"></p>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    if(!window.slider) var slider={};slider.data=[
        <% i = 1
     @images.each do |photo| %>
        {"id":"slide-img-<%= i %>","client":"<%= "#{truncate(photo.photoable.name,50)}, #{photo.photoable.country.name}" %>","desc":""},
        <%  i += 1
       end %>
    ];


</script>
