<% content_for :title do %>
    <p class="flash-Bigtitle"><em>Contact Us</em></p>
<% end %>

<% content_for :banner do %>
    <div class="span-24 column widgetContainer">
      <div class="widget">
      </div>
    </div>
<% end %>


<div class="span-15 first articles">
  <div class="span-15 last article">
    <h2 class="flash-h2">Contact us</h2>
    <p class="infoContact">Please email us at <b>iccaregistry@unep-wcmc.org</b></p>
    <p class="infoContact">United Nations Environment Programme</p>
    <p class="infoContact">World Conservation Monitoring Centre</p>
    <p class="infoContact">219 Huntingdon Road</p>
    <p class="infoContact">Cambridge, UK</p>
    <p class="infoContact">CB3 0LD</p>
  </div>
</div>


<div class="span-8 last newscontact">
  <div class="new">

    <h2 class="newsColumn flash-h2">Multimedia resources</h2>
    <div class="gallery">
      <div class="scrollable" id="infinite">
        <div class="items">
          <img name="photo1" id="photo1" src="img/mejico/image1.jpg" onclick="javascript: void showImage('photo1','img/mejico/image1.jpg')"/>
          <img name="photo2" id="photo2" src="img/mejico/image2.jpg" onclick="javascript: void showImage('photo2','img/mejico/image2.jpg')"/>
          <img name="photo3" id="photo3" src="img/mejico/image3.jpg" onclick="javascript: void showImage('photo3','img/mejico/image3.jpg')"/>
          <img name="photo4" id="photo4" src="img/mejico/image4.jpg" onclick="javascript: void showImage('photo4','img/mejico/image4.jpg')"/>
          <img name="photo5" id="photo5" src="img/mejico/image5.jpg" onclick="javascript: void showImage('photo5','img/mejico/image5.jpg')"/>
          <img name="photo6" id="photo6" src="img/mejico/image6.jpg" onclick="javascript: void showImage('photo6','img/mejico/image6.jpg')"/>
          <img name="photo7" id="photo7" src="img/mejico/image7.jpg" onclick="javascript: void showImage('photo7','img/mejico/image7.jpg')"/>
          <img name="photo8" id="photo8" src="img/mejico/image8.jpg" onclick="javascript: void showImage('photo8','img/mejico/image8.jpg')"/>
          <img name="photo9" id="photo9" src="img/mejico/image9.jpg" onclick="javascript: void showImage('photo9','img/mejico/image9.jpg')"/>
          <img name="photo10" id="photo10" src="img/mejico/image10.jpg" onclick="javascript: void showImage('photo10','img/mejico/image10.jpg')"/>
          <img name="photo11" id="photo11" src="img/mejico/image11.jpg" onclick="javascript: void showImage('photo11','img/mejico/image11.jpg')"/>
        </div>
      </div>
      <div class="rule">
        <hr class="horiRule"/>
      </div>
      <div class="naviButtons">
        <div class="column">
          <hr class="verRule"/>
        </div>
        <div class="column last">
          <a class="prevPage browse left"></a>
        </div>
        <div class="column">
          <a class="nextPage browse right"></a>
        </div>

      </div>

    </div>


    <div id="basic-modal-content">
    </div>

    <br clear="all" />
  </div>

  <!-- <div class="new">
                            <h2 class="newsColumn flash-h2">Latest news<div class="rss"></div></h2>
                                <p class="latestNewDate">05/06/2009</p>
                                <p class="latestNew"><a href="">Lorem ipsum dolor sit amen dolor tura fermi ulla</a></p>

                                <p class="latestNewDate">05/06/2009</p>
                                <p class="latestNew"><a href="">Lorem ipsum dolor sit amen dolor tura fermi ulorem ipsum dolor sit amen dolor tura fermi ulla</a></p>

                                <p class="latestNewDate">05/06/2009</p>
                                <p class="latestNew"><a href="">Tura fermi ulorem ipsum sit amen dolor tura fermi ulla</a></p>

                                <p class="latestNewDate">05/06/2009</p>
                                <p class="latestNew"><a href="">Lorem ipsum dolor sit amen dolor tura fermi ulorem ipsum dolor sit amen dolor tura fermi ulla</a></p>

                        </div> -->
</div>