<% content_for :title do %>
    <p class="flash-Bigtitle"><em>Recognising indigenous</em> and community conservation</p>
<% end %>

<% content_for :banner do %>
    <div class="span-24 column widgetContainer">
      <div class="widgetHome">
        <div id="slide-holder">
          <div id="slide-runner">
            <div class="banner">
              <p class="bannerLink">We welcome feedback or ideas which can be sent to <a class="textLink" href="mailto:iccaregistry@unep-wcmc.org ">here</a></p>
            </div>
            <a href=""><img id="slide-img-1" src="img/widget.jpg" class="slide" alt="" /></a>
            <a href=""><img id="slide-img-2" src="img/widget.jpg" class="slide" alt="" /></a>
            <a href=""><img id="slide-img-3" src="img/widget.jpg" class="slide" alt="" /></a>
            <a href=""><img id="slide-img-4" src="img/widget.jpg" class="slide" alt="" /></a>
            <div id="slide-controls">
              <p id="slide-client" class="text"><strong></strong><span></span></p>
              <p id="slide-nav"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>


<div class="span-15 first articles">
  <div class="span-15 last article">
    <h2 class="flash-h2">Explore the ICCA world map</h2>
    <div class="worldmap" id="worldmap">
    </div>
  </div>
  <div class="span-15 last article articleborder">
    <h2 class="flash-h2">Indigenous and Community Conserved Areas</h2>
    <p>Indigenous and Community Conserved Areas (ICCAs) are natural sites, resources and species' habitats conserved in a voluntary and self-directed way through	community values, practices, rules and institutions. For hundreds of years, indigenous people and local communities have been a crucial part of conservation. While the conservation practices of ICCAs are potentially the oldest on earth, they are under- recognized and not well understood, thus leaving them in jeopardy from lack of political and financial support and increasingly vulnerable to external threats. Recent international meetings, including the 2003 World Parks Congress and the 2004 Programme of Work on Protected Areas of the Convention on Biological Diversity, have contributed to a re-evaluation of ICCAs as one of the main avenues to strengthen sustainable natural resource use and conservation. Thus, there is a need for detailed knowledge and experience to be gathered, analyzed, and shared.</p>
    <p>The ICCA Registry website is a pilot online database for Indigenous and Community Conserved Areas, offering information, maps, statistics and analysis on featured ICCAs to indigenous communities, researchers, conservation practitioners, policy and decision-makers and general public who want to understand and obtain information on ICCAs characteristics and geographical extent.</p>
    <p>The purpose of the website is to help people understand ICCAs and their biodiversity, ecological and cultural values. The website aims to be a key source of global information and data on ICCAs for involved communities, practitioners, researchers and the general public. Through this website, information on ICCAs from different countries and regions of the world will be available in one place, guaranteeing improved access to information about ICCAs. In particular, the database will hold qualitative, quantitative and spatial data.	The degree to which this is available directly to the public depends on the agreements we have with those who have contributed the information. The website, featured with visual aids and tools such as maps, videos and photos, represents the best way to circulate this valuable data around the globe, demonstrate ICCA conservation value and foster ICCA recognition.</p>
  </div>
  <div class="span-15 last moreICCA">
    <p><a href="about.html" class="more">Learn more about ICCAs</a></p>
  </div>
</div>


<div class="span-8 last newshome">
  <div class="new">
    <h2 class="newsColumn flash-h2">About the Registry</h2>
    <p class="newsContent newborder">The ICCA Registry is an online resource documenting information about Indigenous and Community Conserved Areas (ICCAs) in order to enhance understanding of their conservation and cultural values.</p>
    <p class="newsContent" style="margin-top:16px; margin-right:-15px;"><a href="map.html" class="more">Learn more</a></p>
  </div>

  <div class="new">
    <h2 class="newsColumn flash-h2">Latest news<div class="rss"></div></h2>
    <ul class="newsList" id="newsList"></ul>
  </div>

  <div class="new">
    <h2 class="newsColumn flash-h2">Important Links</h2>
    <ul>
      <li><a class="textLinkRight" href="http://www.unep-wcmc.org/protected_areas/docs/WDPA%20ICCA%20info%20sheet,%20Jan%2010.doc">ICCA Registry Information Sheet</a></li>
      <li><a class="textLinkRight" href="http://www.unep-wcmc.org/protected_areas/docs/WDPA%20ICCA%20consent%20form,%20Jan%2010.doc">ICCA Registry Free Prior Informed Consent Form</a></li>
      <li><a class="textLinkRight" href="http://www.unep-wcmc.org/protected_areas/docs/ICCA%20Brochure%20v9.pdf">A handbook for the Indigenous and Community Conserved Areas Registry</a></li>
    </ul>
  </div>
</div>
