<% content_for :title do %>
    Edit <em><%= controller.controller_name.singularize %></em>
<% end %>

<%= render :partial => 'form' %>

<p>
  <%= link_to "Show", @photo %> |
  <%= link_to "View All", photos_path %>
</p>
