<% content_for :title do %>
  <p class="flash-Bigtitle"><em>ICCA Registry Questionnaire #<%=h @form.id %></em></p>
<% end %>
<div style="padding:10px">
  <iframe src="https://spreadsheets.google.com/embeddedform?formkey=dE5xLTdLVjFuV2VCUlczUVk2bE1ZMGc6MA&entry_114=<%= CGI::escape(@form.name) %>" width="930" height="11025" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>
