<% content_for :title do %>
    <em><%= "#{@site.name}, #{@site.country.name}" %></em>
<% end %>

<div class="span-15 first articles">
  <%= link_to 'Edit', edit_site_path(@site), :class => "textLink" if current_user %>
  <div class="span-15 last article">
    <%= @site.extended_description %>
  </div>
</div>

<div class="span-8 last newscountry">
  <div class="new">
  </div>
</div>
